.modal {
    background-color:transparent;
    height:auto;
    padding:0;
    margin: 0;
    box-shadow: none;
    /* border: none; */
}

.modal-open { 
    background-color: transparent
}

.modal-dialog, .modal-content {
    background-color: transparent;
    height: auto;
    box-shadow: none;
    border: none;
    margin-top: -10vh;
}

.contact-modal {
    /* background-color: transparent; */
    box-shadow: none;
    margin:0;
}

.modal-header h1{
    background-color:transparent;
    margin: 0;
} 

.modal-body h3 {
    background-color: transparent;
}