.contact-box {
    display: flex;
    margin-top: 10vh;

}

h1.sb {
    font-size: 3em;
    font-weight: lighter;
    width: 225px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-self: stretch;
    padding: 3vh 3vw;
}

.contact-form {
    display: flex;
    flex-direction: column;
    border-left: 3px solid var(--dark);
    padding: 20px;
    width:   50%
}

.contact-form p {
    font-style: italic;
    text-align: center;
}

.contact-form .btn {
    align-self: center;
    background-color: var(--dark);
    color: var(--light);
    font-weight: bold;
  }